DATABASE_URL=jdbc:postgresql://localhost:5432/customization_audit
DATABASE_USERNAME=customization_audit
DATABASE_PASSWORD=customization_audit
OAUTH2_ISSUER_URI=http://localhost:8081/realms/customization-audit
